
.container-gener img{
    max-width: 100%;
    margin: .5rem;
    padding: .5rem;
    background: #f6eec3;
    border: .5em solid #E9D66B;
    border-radius: 2rem;
    cursor: pointer;
}

.container-gener{
    display: flex;
    align-items: center;
    margin-left: .15rem;
    width: 170px;
    height: 500px;
}

@media only screen and (min-width:375px) and (max-width: 700px) {
    .container-gener{
        margin-left: .5rem;
    }

    .container-gener img{
        margin: 1rem;
    }
}


@media only screen and (min-width:720px) and (max-width: 1280px) {

    .container-gener{
        display: flex;
        align-items: center;
        margin-top: 5rem;
        margin-left: 1rem;
        width: 40vw;
        height: 500px;
    }

    .container-gener img{
        max-width: 100%;
        margin: 2rem;
        padding: .5rem;
        background: #f6eec3;
        border: .5em solid #E9D66B;
        border-radius: 2rem;
        cursor: pointer;
    }

}

@media only screen and (min-width:1280px){

    .container-gener {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.15rem;
        width: 100vw;
        height: 500px;
    }

    .container-gener img{
        max-width: 50%;
        max-height: 75%;
        margin: 5rem;
        padding: .5rem;
        background: #f6eec3;
        border: .5em solid #E9D66B;
        border-radius: 2rem;
        cursor: pointer;
    }

}